html,body{
    padding: 0;
    margin: 0;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}
nav .mainMenu>li{
    display: inline-block;
    margin-left: -5px;
}
nav a{
    margin: 0;
    text-align: left;
    padding: 12px 15px;
    background:#5f6975;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
}
nav li:hover>a{
    background: #2f95c8;
    cursor: pointer;
}

nav .subMenu, nav .superSubMenu{
    position: absolute;
    display: none;
    /* width: 10%;s */
}
nav .superSubMenu{
    top: 0;
    right: 0;
    transform: translate(100%,0);
}
nav .superSubMenu li{
    position:relative;
}
nav .mainMenu>li:hover .subMenu, nav .subMenu>li:hover .superSubMenu{
    display: block;
}